<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="Stockconst" connectionString="Data Source=DESKTOP-ABH58RO\SQLEXPRESS;Initial Catalog=StockMarketDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="StockMarketDBConnectionString" connectionString="Data Source=DESKTOP-ABH58RO\SQLEXPRESS;Initial Catalog=StockMarketDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="StockMarketDBConnectionString2" connectionString="Data Source=DESKTOP-ABH58RO\SQLEXPRESS;Initial Catalog=StockMarketDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
	

	<system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
	  <add key="EnableSSLOnMail" value="True"/>
  </appSettings>
	<system.net>
		<mailSettings>
			<smtp from="keyurrana.mscict2022@vnsgu.ac.in" deliveryMethod="Network">
				<network
                    defaultCredentials="false"
                    host="smtp.gmail.com"
                    port="587"
                    password="K1Y2R@6160"
                    userName="keyurrana.mscict2022@vnsgu.ac.in"
                    />
				<!-- When using .Net 4.0 (or later) add attribute: enableSsl="true" and you're all set-->
			</smtp>
		</mailSettings>
	</system.net>
</configuration>